{{> header}}
<main>
  <h1>Calling all foodies!</h1>
  <h2>Your one stop for saving favorite recipes and tracking the restaurants you love.</h2>
  <p><a href="/signup">Create an account</a> or <a href="/login">login</a> to to get started.</p>
</main>
<footer class="footer">
    <p>&copy; Pope 2024</p>
</footer>

