{{!display inputs from restaurant form/database}}
{{> header}}
{{!input favorite restaurants}}
<main>
    <h1>Log your favorite restaurants here:</h1>
    <form action="/api/restaurants" method="POST">
        <label for="newRestaurant">Restaurant:</label>
        <input type="text" name="restaurant" id="newRestaurant"/>
        <label for="city">City:</label>
        <input type="text" name="city" id="city"/>
        <label for="state">State:</label>
        <input type="text" name="state" id="state"/>
        <label for="occassion">Occassion:</label>
        <input type="text" name="occassion" id="occassion"/>
        <button type="submit">Submit</button>
    </form>
    <h2>Favorite Restaurants</h2>
        {{#each favorite_restaurant}}
            <h2>{{restaurant_name}}</h2>
            <p>{{city}}, {{state}}</p>
            <p>{{occasion}}</p>
        {{/each}}
    </ul>
</main>
<footer class="footer">
    <p>&copy; Pope 2024</p>
</footer>
