:root {
  --ivory: ivory;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --background: #185a37;
  --secondary: #EF798A;
  --secondary-light: hsl(15deg 100% 70%);
  --text-color: #185a37;
  --space: 16px;
  --font-size: 18px;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--ivory);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: 30;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}

a {
  color: var(--secondary);
}

button.btn {
  border: var(--text-color);
  border-radius: 4px;
  color: var(--ivory);
  background-color: var(--secondary);
  padding: 10px;
  cursor: pointer;
  transition: background-color 200ms;
}
button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--secondary-light);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--background);
}

button.btn-text:hover,
button.btn-text:focus {
  color: var(--background);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ivory);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

.nav {
  text-decoration: none;
  color: var(--secondary);
  transition: color 200ms;
  text-transform: uppercase;
}

.nav:hover {
  text-decoration: underline;
  color: var(--background);
}


.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

.footer {
  background-color: var(--ivory);
  color: var(--text-color);
  text-align: center;
  padding: 3px;
  margin-top: auto;
  font-size: 0.9rem;
}

@media only screen and (max-width: 414px) {
  .header {
    padding: 10px;
    font-size: 1rem;
  }

  .header__nav {
    justify-content: center;
    margin: 0;
  }

  .header__link {
    padding: 10px 20px;
  }

  .main {
    margin: 20px;
  }

  .article__h1 {
    font-size: 1.1rem;
  }

  .article__p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .button {
    padding: 8px 20px;
    font-size: 0.8rem;
  }

  .footer {
    padding: 5px;
  }
}

/* Media query for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 15px;
    font-size: 1.1rem;
  }

  .header__nav {
    justify-content: flex-end;
    margin: 0;
  }

  .header__link {
    padding: 12px 25px;
  }

  .main {
    margin: 50px 15%;
  }

  .article__h1 {
    font-size: 1.2rem;
  }

  .article__p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .button {
    padding: 10px 24px;
    font-size: 0.9rem;
  }

  .footer {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
